<h1>PRB Subcontractors</h1>

    <ul>

    <% @subcontractors.each do |subcontractor| %>   
        <li><a href="/subcontractors/<%= subcontractor.id %>"><%= subcontractor.name %></a></li>
    <% end %>
 
    </ul>
    <br>
    <br>

    <a href='/subcontractors/new'>Create New Subcontractor</a>
    <br>
    <br> 

    <form action="/logout" method="post">
        <input class="btn btn-primary" type="submit" value="Log Out"> 
    </form>  
    