<h1>New PRB Subcontractor</h1>

<h2>Subcontractor Information</h2>

<form action='/subcontractors' method='post'>
    Subcontractor Name: <input type='text' name='name'>
    <br>
    <br>
    Subcontractor Trade: <input type='text' name='trade'>
    <br>
    <br>
    Subcontractor Project: <input type='text' name='project_name'>
    <br>
    <br>
    Subcontractor Progress: <input type='text' name='status'>
    <br>
    <br>
    Subcontractor Payment Status: <input type='text' name='payment_status'>
    <br>
    <br>
    <input type='submit' value='submit'
</form> 

